header {
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  position: relative;
  z-index: 9999;
}

nav ul {
  display: flex;
}

nav a {
  text-transform: capitalize;
  margin-right: 30px;
  color: black;
}

/* Profile */
.profile {
  margin-left: 30px;
  cursor: pointer;
}

.profile .image {
  display: flex;
  padding-bottom: 20px;
}

.profile button {
  font-size: 17px;
  font-weight: 500px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.openProfile {
  color: black;
  box-shadow: 0 2px 4px rgb(0 0 0 /8%);
  position: absolute;
  top: 80px;
  right: 0;
  width: 250px;
  background-color: white;
}

.openProfile .box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  transition: 0.5s;
}

.openProfile .icon {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 10px;
}

.openProfile h4 {
  font-size: 15px;
  font-weight: 500;
}

.openProfile button:hover {
  background: rgba(147, 75, 255, 0.75);
}

header.active {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 4px 0 rgb(115, 115, 115 / 20%);
}

.text {
  margin-left: 10px;
  color: #6f606060;
}

.nav-btn {
  justify-content: center;
  display: none;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  header .nav-btn {
    display: block;
  }

  nav {
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: white;
    transition: 0.5s;
    transform: translateY(-100vh);
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
  }

  nav ul li {
    text-align: center;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
  }

  header .responsive_nav {
    transform: none;
  }

  header .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  header .logo {
    margin-left: 3rem;
  }
}

header .icon {
  margin-right: 15px;
}
